html{
	background: #ffffff;
	position: absolute;

}
body{
	display: inline-block;
	background: #ffffff;
	margin: 0;

}
h1,h2{
	text-align: center;
}
img{
	width: 50%;
	border: 5px groove #000;

}

div{
	background: #000000;
	color: #ffffff;
	display: block;
	margin: 25px 60px;
	padding: 30px;
	text-align: justify;
	font-size: 14pt;
}